.right-side {
    grid-area: main-panel;
    margin: 70px 15%;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'head'
                         'content';
    gap: 30px;

}

.subheader {
    font-size: 1.2em;
    color: gray;
}

/* FORM DIALOG */

.form {
    display: none;
    position: absolute;
    top: 15%;

    border-radius: 15px;
    padding: 50px;
    height: 100px;

    background-color: red;
}

/* TASKS INBOX */

.tasks-inbox {
    display: flex;
    flex-direction: column;
}

.task-container {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);

    display: grid;
    grid-template-columns: 25px 1fr 100px;
    grid-template-rows: 25px;
    place-content: center;
    align-items: center;
    gap: 15px;
}


.task-container .checkbox svg {
    vertical-align: text-bottom;
    transition: 0.1s;
}
.task-container .checkbox svg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.task-container .bold {
    font-weight: 500;
}

.task-container div {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
