.taskbar {
  background-color: var(--taskbar-background);
  grid-area: taskbar;
  display: grid;
  padding: 15px;
  grid-template-rows: 50px 50px 160px auto 1fr;
  grid-template-columns: 1fr;
  gap: 22px;

  max-height: fit-content;

  font-size: 1.3em;
  color: var(--font-main);
}
.taskbar .list:last-child {
  align-self: end;
}

.taskbar h1 {
  color: var(--font-main);
  font-family: Barlow, sans-serif;
  font-weight: 500;
}
.title-color {
  color: var(--taskbar-accent);
}

/* ADDING TASKS CSS */

.add-task {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 10px;

  font-weight: 500;
  font-size: 1.2em;
  color: var(--taskbar-accent);

  cursor: pointer;
  border-radius: 5px;

  height: 50px;
}
.add-task:hover {
  background-color: var(--hover);
}

.add-task button {
  color: inherit;
  background: none;
  border: none;

  cursor: inherit;
}

.add-task svg {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;

  stroke-width: 2;
}
.add-task:hover svg {
  animation: rotate 1 1s;
}

/* --------------------------- */

.list {
  display: flex;
  flex-direction: column;
}

.list a {
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
  color: skyblue;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 10px;

  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;

  height: 50px;
}
.list-item:hover {
  background-color: var(--hover);
}

.list-item svg {
  width: 22px;
  height: 22px;

  stroke-width: 1;
}

.odin {
  margin-bottom: 15px;
}

.projects-header {
  font-weight: 600;
  color: #494949;
}

.projects-header .add-project {
  color: var(--taskbar-accent);
  stroke-width: 2;
}
.projects-header .add-project:hover {
  animation: rotate 1s 1;
}

.projects {
  margin-left: 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 0;
}

.project-container {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 5px;

  width: fit-content;
}
.project-container:hover {
  background-color: var(--hover);
}

.loaded-project {
  font-weight: 300;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  padding-right: 10px;
}

.edit-project {
  margin-right: 4px;
}
.edit-project:hover,
.remove-project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ALIGN WITH SVG */
.projects div svg {
  vertical-align: text-bottom;
  margin-top: 1px;
}

.settings:hover svg {
  animation: rotate 1s 1;
}

/* ADD TASK FORM DIALOG */


.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}


#add-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  background-color: var(--taskbar-background);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

input[type="text"],
textarea,
select,
input[type="date"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: var(--font-main);
}

/* Style the placeholder text */
input::placeholder,
textarea::placeholder {
  color: #aaa;
}

select {
  appearance: none;
  background-color: #fff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--font-main);
  cursor: pointer;
}

.add-button {
  width: 100%;
  padding: 10px;
  background-color: var(--taskbar-accent);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-button:hover {
  background-color: #e56d6d;
}
